# 1. nuke everything by default
*

# 2. white-list specific file types globally
!*.py
!.gitignore
!*.pkl

# 3. white-list top-level csv (main dataset)
!/All_Traffic_NSL-KDD.csv

# 4. allow the logs directory AND all its contents (CSV, PNG, etc.)
!logs/
!logs/*

# 5. explicitly ignore environments and cache
pox/
venv/
__pycache__/
